# Google Sheet Configuration
# New Sheet ID: 1ESpXPrhesyxgD9WELxtf0es9WU742iZXPlnXrg-YuE0
GOOGLE_SHEET_ID=your_sheet_id_here

# (Optional) Service Account to impersonate
# Cloud Run Service Account needs 'Service Account Token Creator' role on this account
IMPERSONATED_SERVICE_ACCOUNT=your-target-sa@your-project.iam.gserviceaccount.com

# Server Port
PORT=8000
